spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: storio.tommy@gmail.com
    password: swdouiftrxprfxzg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  application:
    name: donor-service
  datasource:
    url: jdbc:postgresql://localhost:5432/db_blood_donation
    username: postgres
    password: Qt4076042
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
secret: "mySuperSecureJWTSecretKeyForBloodDonationSystem2024WithMoreThan64CharactersToEnsure512bitSecurity"
expiration: 86400000

services:
  blood-request:
    url: http://localhost:8083
  med-center:
    url: http://localhost:8082

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic



server:
  port: 8084
  tomcat:
    connection-timeout: 30s
    keep-alive-timeout: 30s
    max-keep-alive-requests: 100


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka



# ========== НАСТРОЙКИ ЛОГИРОВАНИЯ ==========
logging:
  level:
    # Наше приложение
    org.example.bloodrequestservice: DEBUG
    # Spring
    org.springframework: INFO
    org.springframework.web: DEBUG
    org.springframework.mail: DEBUG
    org.springframework.cloud: INFO
    # База данных
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    # Eureka
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
    # Feign
    org.springframework.cloud.openfeign: DEBUG
    feign: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30


